body {
    background-color: #f8f9fa;
}

h2 {
    margin-bottom: 20px;
}

#toggle-flag, #reset-flags {
    padding: 15px;
    font-size: 18px;
}

#login-screen, #student-screen, #teacher-screen {
    margin-top: 20px;
}

#current-flag {
    font-size: 24px;
}

canvas {
    max-width: 100%;
    height: auto;
}